@charset "UTF-8";
/*===============Fonts===============*/
@font-face {
  font-family: "Recoleta";
  src: url("../fonts/Recoleta/Recoleta-SemiBold.eot");
  src: url("../fonts/Recoleta/Recoleta-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Recoleta/Recoleta-SemiBold.woff") format("woff"), url("../fonts/Recoleta/Recoleta-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans/NotoSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSans/NotoSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
/*===============Imports===============*/
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*-------------------*/
/*===============Vars===============*/
:root {
  --color-light: #fbfaf7;
  --color-grey: #f2efe6;
  --color-light-grey: #fbfaf7;
  --color-dark-green: #163a24;
  --color-light-green: #198c36;
  --color-peach: #fab5a0;
}

/*===============Global styles===============*/
body {
  font-family: "NotoSans", sans-serif;
}
body.is-fixed {
  position: fixed;
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.green-btn {
  font-size: 1rem;
  line-height: 138%;
  color: var(--color-light);
  min-height: 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-green);
  border-radius: 160px;
  padding: 5px 25px;
  transition: background-color 0.2s linear;
}
.green-btn:hover {
  background-color: #167e30;
}
.green-btn:active {
  background-color: #146f2b;
}
.green-btn_peach {
  color: var(--color-dark-green);
  background-color: var(--color-peach);
}
.green-btn_peach:hover {
  background-color: #f78f70;
}
.green-btn_peach:active {
  background-color: #f6764f;
}
.green-btn_br {
  border-radius: 255px;
}

.primary-title {
  font-family: "Recoleta", sans-serif;
  font-size: 3rem;
  line-height: 113%;
  color: var(--color-dark-green);
}
.primary-title_white {
  color: var(--color-light);
}
@media (max-width: 479.98px) {
  .primary-title {
    font-size: 2.625rem;
  }
}
@media (max-width: 379.98px) {
  .primary-title {
    font-size: 2.375rem;
  }
}

.primary-text {
  font-size: 1.125rem;
  line-height: 150%;
  color: var(--color-dark-green);
}
.primary-text_white {
  color: var(--color-light);
}
@media (max-width: 379.98px) {
  .primary-text {
    font-size: 1rem;
  }
}

.title-box__title:not(:last-child) {
  margin-bottom: 27px;
}
.title-box__text:not(:last-child) {
  margin-bottom: 19px;
}

/*===============Header===============*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header__logo {
  position: relative;
  z-index: 2;
}

@media (max-width: 599.98px) {
  .navbar {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out;
    z-index: 2;
  }
}
.navbar.is-active {
  visibility: visible;
}
.navbar.is-active .navbar__list {
  transform: translateX(0);
}
.navbar__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  row-gap: 40px;
}
@media (max-width: 599.98px) {
  .navbar__list {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 0;
    width: 250px;
    flex-direction: column;
    padding: 120px 20px 30px 30px;
    background-color: #f1673c;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    align-items: flex-start;
    z-index: 3;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    box-shadow: -1px 0 15px rgba(0, 0, 0, 0.2);
  }
}
.navbar__link {
  font-size: 1rem;
  line-height: 138%;
  color: var(--color-light);
  position: relative;
  padding-bottom: 4px;
  transition: color 0.2s ease-in-out;
}
.navbar__link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: var(--color-light-green);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: width 0.2s ease-in-out;
}
.navbar__link:hover {
  color: #e4deca;
}
.navbar__link:hover::after {
  width: 100%;
}

.burger {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, filter;
  display: none;
  z-index: 2;
}
@media (max-width: 599.98px) {
  .burger {
    display: inline-block;
  }
}
.burger.is-active .burger__inner {
  transition-delay: 0.2s;
  transition-timing-function: ease;
  transform: rotate(45deg);
}
.burger.is-active .burger__inner::before {
  top: 0;
  transition: top 0.2s ease, opacity 0.2s ease 0.2s;
  opacity: 0;
}
.burger.is-active .burger__inner::after {
  transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
  transform: rotate(-90deg);
  bottom: 0;
}
.burger__box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}
.burger__inner {
  top: 50%;
  display: block;
  margin-top: -2px;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}
.burger__inner::before, .burger__inner::after {
  display: block;
  content: "";
}
.burger__inner, .burger__inner::before, .burger__inner::after {
  position: absolute;
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background-color: var(--color-light);
  transition-timing-function: ease;
  transition-duration: 0.2s;
  transition-property: transform;
}
.burger__inner::before {
  top: -10px;
  transition: top 0.2s ease 0.2s, opacity 0.2s ease;
}
.burger__inner::after {
  bottom: -10px;
  transition: bottom 0.2s ease 0.2s, transform 0.2s ease;
}

/*===============Hero===============*/
.hero {
  background-color: var(--color-dark-green);
}
.hero__body {
  padding-top: 98px;
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .hero__body {
    flex-wrap: wrap;
  }
}
.hero__content {
  flex: 0 1 42%;
  padding-right: 17px;
  position: relative;
  z-index: 2;
}
@media (max-width: 990.98px) {
  .hero__content {
    flex: 0 1 50%;
    padding-bottom: 20px;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    flex: 0 1 100%;
  }
}
.hero__title {
  font-family: "Recoleta", sans-serif;
  font-size: 3rem;
  line-height: 135%;
  color: var(--color-light);
  margin-bottom: 18px;
  max-width: 391px;
}
@media (max-width: 479.98px) {
  .hero__title {
    font-size: 2.625rem;
  }
}
@media (max-width: 379.98px) {
  .hero__title {
    font-size: 2.375rem;
  }
}
.hero__text {
  color: var(--color-light);
}
.hero__media {
  flex: 0 1 65%;
  margin-right: -58px;
}
@media (max-width: 1279.98px) {
  .hero__media {
    margin-right: 0;
  }
}
@media (max-width: 990.98px) {
  .hero__media {
    flex: 0 1 50%;
  }
}
@media (max-width: 767.98px) {
  .hero__media {
    flex: 0 1 100%;
  }
}
.hero__media img {
  max-width: 100%;
}

/*===============Human===============*/
.human__body {
  display: flex;
  align-items: center;
  padding-top: 120px;
}
@media (max-width: 990.98px) {
  .human__body {
    padding-top: 80px;
  }
}
@media (max-width: 767.98px) {
  .human__body {
    padding-top: 50px;
    flex-wrap: wrap-reverse;
  }
}
.human__media {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .human__media {
    flex: 0 1 100%;
    text-align: center;
  }
}
.human__media img {
  max-width: 100%;
  margin-left: auto;
}
@media (max-width: 767.98px) {
  .human__media img {
    margin-left: 0;
  }
}
.human__content {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 30px;
}
@media (max-width: 767.98px) {
  .human__content {
    flex: 0 1 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }
}
.human__title-box {
  max-width: 393px;
}
@media (max-width: 767.98px) {
  .human__title-box {
    max-width: 600px;
  }
}

/*===============Sales===============*/
.sales__body {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .sales__body {
    flex-wrap: wrap;
    padding-top: 30px;
  }
}
.sales__content {
  flex: 0 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 30px;
}
@media (max-width: 767.98px) {
  .sales__content {
    flex: 0 1 100%;
    margin-bottom: 20px;
    padding-right: 0;
  }
}
.sales__title-box {
  max-width: 393px;
}
@media (max-width: 767.98px) {
  .sales__title-box {
    max-width: 600px;
  }
}
.sales__media {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .sales__media {
    flex: 0 1 100%;
    text-align: center;
  }
}
.sales__media img {
  max-width: 100%;
}

/*===============Partners===============*/
.partners__body {
  text-align: center;
  padding: 120px 0;
}
@media (max-width: 990.98px) {
  .partners__body {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .partners__body {
    padding: 50px 0;
  }
}
.partners__title {
  margin-bottom: 66px;
}
@media (max-width: 767.98px) {
  .partners__title {
    margin-bottom: 30px;
  }
}
.partners__companies {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  -moz-column-gap: 87px;
       column-gap: 87px;
  row-gap: 30px;
}

/*===============Production===============*/
.production {
  background-color: var(--color-dark-green);
}
.production__body {
  padding: 66px 0 120px;
  text-align: center;
}
@media (max-width: 990.98px) {
  .production__body {
    padding: 56px 0 80px;
  }
}
@media (max-width: 767.98px) {
  .production__body {
    padding: 40px 0 40px;
  }
}
.production__title {
  margin-bottom: 66px;
}
@media (max-width: 767.98px) {
  .production__title {
    margin-bottom: 30px;
  }
}
.production__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  gap: 20px;
}
@media (max-width: 990.98px) {
  .production__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 479.98px) {
  .production__grid {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.item-production {
  align-items: center;
}
@media (max-width: 479.98px) {
  .item-production {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    gap: 20px;
  }
  .item-production:nth-child(even) {
    flex-direction: row-reverse;
  }
}
.item-production__image {
  margin-bottom: 28px;
}
@media (max-width: 479.98px) {
  .item-production__image {
    margin-bottom: 0;
  }
}
.item-production__text {
  max-width: 200px;
}
@media (max-width: 479.98px) {
  .item-production__text {
    max-width: none;
  }
}

/*===============Shapes===============*/
.shapes {
  background-color: var(--color-grey);
}
.shapes__body {
  padding: 120px 0 135px;
}
@media (max-width: 990.98px) {
  .shapes__body {
    padding-top: 90px 0 100px;
  }
}
@media (max-width: 767.98px) {
  .shapes__body {
    padding: 50px 0 60px;
  }
}
.shapes__content {
  text-align: center;
  max-width: 770px;
  margin: 0 auto;
}
.shapes__image img {
  max-width: 100%;
}
@media (max-width: 479.98px) {
  .shapes__image {
    display: none;
  }
}

/*===============Scenes===============*/
.scenes__body {
  padding-top: 180px;
  display: flex;
  align-items: center;
}
@media (max-width: 990.98px) {
  .scenes__body {
    padding-top: 120px;
  }
}
@media (max-width: 767.98px) {
  .scenes__body {
    padding-top: 50px;
    flex-wrap: wrap;
  }
}
.scenes__content {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
@media (max-width: 767.98px) {
  .scenes__content {
    flex: 0 1 100%;
    padding-right: 0;
    margin-bottom: 20px;
  }
}
.scenes__title-box {
  max-width: 379px;
}
@media (max-width: 767.98px) {
  .scenes__title-box {
    max-width: 600px;
  }
}
.scenes__media {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .scenes__media {
    flex: 0 1 100%;
    text-align: center;
  }
}
.scenes__media img {
  max-width: 100%;
}

/*===============Offer===============*/
.offer__body {
  padding: 120px 0;
}
@media (max-width: 990.98px) {
  .offer__body {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .offer__body {
    padding: 50px 0;
  }
}
.offer__content {
  text-align: center;
  margin-bottom: 18px;
}
.offer__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(290px, 1fr));
  gap: 40px;
}
@media (max-width: 990.98px) {
  .offer__grid {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
@media (max-width: 767.98px) {
  .offer__grid {
    grid-template-columns: minmax(290px, 400px);
    justify-content: center;
    gap: 20px;
  }
}

.item-offer {
  background-color: var(--color-light-grey);
  box-shadow: 5px 5px 20px #e9e4d5;
  border-radius: 15px;
  padding: 50px 40px 66px;
}
.item-offer:nth-child(2) {
  margin-bottom: -37px;
}
@media (max-width: 990.98px) {
  .item-offer:nth-child(2) {
    margin-bottom: 0;
  }
}
.item-offer__image {
  margin-bottom: 20px;
}
.item-offer__title {
  margin-bottom: 23px;
  font-family: "Recoleta";
  font-size: 1.75rem;
  line-height: 114%;
  color: var(--color-dark-green);
}
.item-offer__item {
  font-size: 1rem;
  line-height: 138%;
  color: var(--color-dark-green);
  position: relative;
  padding-left: 19px;
}
.item-offer__item:not(:last-child) {
  margin-bottom: 15px;
}
.item-offer__item::before {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  left: 0;
  top: 7px;
  background-color: var(--color-dark-green);
  border-radius: 50%;
}

/*===============Process===============*/
.process {
  background-color: var(--color-grey);
}
.process__body {
  padding: 120px 0;
  text-align: center;
}
@media (max-width: 990.98px) {
  .process__body {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .process__body {
    padding: 40px 0;
  }
}
.process__content {
  margin-bottom: 60px;
}
@media (max-width: 767.98px) {
  .process__content {
    margin-bottom: 40px;
  }
}

.cols-process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .cols-process {
    flex-direction: column;
    margin-bottom: 25px;
  }
}
.cols-process__item {
  flex: 0 1 33.333%;
  position: relative;
  text-align: center;
}
.cols-process__item:nth-child(1), .cols-process__item:nth-child(2) {
  padding-right: 100px;
}
@media (max-width: 990.98px) {
  .cols-process__item:nth-child(1), .cols-process__item:nth-child(2) {
    padding-right: 0;
    max-width: 220px;
    margin: 0 auto;
  }
}
.cols-process__item:nth-child(3) {
  max-width: 220px;
  margin: 0 auto;
}
.cols-process__item:nth-child(1)::after, .cols-process__item:nth-child(2)::after, .cols-process__item:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 35px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (max-width: 990.98px) {
  .cols-process__item:nth-child(1)::after, .cols-process__item:nth-child(2)::after, .cols-process__item:nth-child(3)::before {
    display: none;
  }
}
.cols-process__item:nth-child(1)::after {
  background: url("../images/process/process-arrow-1.svg") right no-repeat;
}
.cols-process__item:nth-child(2)::after {
  background: url("../images/process/process-arrow-2.svg") right no-repeat;
}
.cols-process__item:nth-child(3)::before {
  background: url("../images/process/process-vector.svg") center no-repeat;
  width: 285px;
  height: 180px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.cols-process__text {
  margin-bottom: 13px;
  position: relative;
  z-index: 2;
}
.cols-process__value {
  font-family: "Recoleta", sans-serif;
  font-size: 1.75rem;
  line-height: 114%;
  color: var(--color-dark-green);
  position: relative;
  z-index: 2;
}

/*===============Resource===============*/
.resource__body {
  display: flex;
  padding: 120px 0;
}
@media (max-width: 990.98px) {
  .resource__body {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .resource__body {
    padding: 40px 0;
    flex-wrap: wrap;
  }
}
.resource__content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}
@media (max-width: 767.98px) {
  .resource__content {
    flex: 0 1 100%;
    padding-right: 0;
  }
}
.resource__title-box {
  max-width: 360px;
}
@media (max-width: 767.98px) {
  .resource__title-box {
    margin-bottom: 20px;
  }
}
.resource__media {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .resource__media {
    flex: 0 1 100%;
    text-align: center;
  }
}
.resource__media img {
  max-width: 100%;
}

/*===============Get Started===============*/
.get-started {
  background: url("../images/get-started/get-started-left.svg") bottom left no-repeat, url("../images/get-started/get-started-right.svg") bottom right no-repeat, var(--color-dark-green);
}
@media (max-width: 767.98px) {
  .get-started {
    background: var(--color-dark-green);
  }
}
.get-started__body {
  text-align: center;
  padding: 114px 124px;
}
@media (max-width: 990.98px) {
  .get-started__body {
    padding: 90px 0;
  }
}
@media (max-width: 767.98px) {
  .get-started__body {
    padding: 40px 0;
  }
}

/*===============Sign Up===============*/
.sign-up {
  background-color: var(--color-grey);
}
.sign-up__body {
  display: flex;
  padding: 55px 0;
  align-items: center;
}
@media (max-width: 767.98px) {
  .sign-up__body {
    padding: 40px 0;
    flex-wrap: wrap;
  }
}
.sign-up__content {
  flex: 0 1 50%;
  padding-right: 20px;
}
@media (max-width: 767.98px) {
  .sign-up__content {
    flex: 0 1 100%;
    margin-bottom: 20px;
  }
}
.sign-up__action {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .sign-up__action {
    flex: 0 1 100%;
  }
}
.sign-up__form:not(:last-child) {
  margin-bottom: 11px;
}
.sign-up__text {
  font-size: 0.875rem;
  line-height: 150%;
  color: var(--color-dark-green);
  font-weight: 400;
}
.sign-up__text a {
  color: var(--color-light-green);
}
.sign-up__text a:hover {
  text-decoration: underline;
}

.form-sign-up {
  display: flex;
  position: relative;
}
@media (max-width: 479.98px) {
  .form-sign-up {
    flex-direction: column;
  }
}
.form-sign-up__email {
  flex: 1 1 100%;
  padding: 5px 120px 5px 20px;
  border-radius: 255px;
  min-height: 54px;
  font-size: 1.125rem;
  line-height: 111%;
  color: var(--color-dark-green);
}
@media (max-width: 479.98px) {
  .form-sign-up__email {
    padding: 5px 20px;
    margin-bottom: 8px;
    font-size: 1rem;
  }
}
.form-sign-up__btn {
  position: absolute;
  right: 0;
  height: 100%;
}
@media (max-width: 479.98px) {
  .form-sign-up__btn {
    position: relative;
  }
}