/*===============Fonts===============*/

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta/Recoleta-SemiBold.eot');
  src: url('../fonts/Recoleta/Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Recoleta/Recoleta-SemiBold.woff') format('woff'),
    url('../fonts/Recoleta/Recoleta-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

/*===============Imports===============*/

@import './nullstyle.scss';
@import './config.scss';

/*===============Vars===============*/

:root {
  --color-light: #fbfaf7;
  --color-grey: #f2efe6;
  --color-light-grey: #fbfaf7;
  --color-dark-green: #163a24;
  --color-light-green: #198c36;
  --color-peach: #fab5a0;
}

/*===============Global styles===============*/

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'NotoSans', sans-serif;

  &.is-fixed {
    position: fixed;
    overflow-y: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.green-btn {
  @include textProperties(16px, 22px, var(--color-light));
  min-height: 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-green);
  border-radius: 160px;
  padding: 5px 25px;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #167e30;
  }
  &:active {
    background-color: #146f2b;
  }

  &_peach {
    color: var(--color-dark-green);
    background-color: var(--color-peach);

    &:hover {
      background-color: #f78f70;
    }
    &:active {
      background-color: #f6764f;
    }
  }

  &_br {
    border-radius: 255px;
  }
}

.primary-title {
  font-family: 'Recoleta', sans-serif;
  @include textProperties(48px, 54px, var(--color-dark-green));

  &_white {
    color: var(--color-light);
  }

  @media (max-width: 479.98px) {
    font-size: rem(42px);
  }
  @media (max-width: 379.98px) {
    font-size: rem(38px);
  }
}

.primary-text {
  @include textProperties(18px, 27px, var(--color-dark-green));

  &_white {
    color: var(--color-light);
  }

  @media (max-width: 379.98px) {
    font-size: rem(16px);
  }
}

.title-box {
  &__title:not(:last-child) {
    margin-bottom: 27px;
  }

  &__text:not(:last-child) {
    margin-bottom: 19px;
  }
}

/*===============Header===============*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
  &__logo {
    position: relative;
    z-index: 2;
  }
}

.navbar {
  @media (max-width: 599.98px) {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out;
    z-index: 2;
  }

  &.is-active {
    visibility: visible;
  }

  &.is-active &__list {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    row-gap: 40px;

    @media (max-width: 599.98px) {
      position: absolute;
      height: 100vh;
      top: 0;
      right: 0;
      width: 250px;
      flex-direction: column;
      padding: 120px 20px 30px 30px;
      background-color: #f1673c;
      backdrop-filter: blur(4px);
      align-items: flex-start;
      z-index: 3;
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out;
      box-shadow: -1px 0 15px rgba(0, 0, 0, 0.2);
    }
  }
  &__link {
    @include textProperties(16px, 22px, var(--color-light));
    position: relative;
    padding-bottom: 4px;
    transition: color 0.2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: var(--color-light-green);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      color: #e4deca;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.burger {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, filter;
  display: none;
  z-index: 2;

  @media (max-width: 599.98px) {
    display: inline-block;
  }

  &.is-active &__inner {
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform: rotate(45deg);
  }

  &.is-active &__inner::before {
    top: 0;
    transition: top 0.2s ease, opacity 0.2s ease 0.2s;
    opacity: 0;
  }
  &.is-active &__inner::after {
    transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
    transform: rotate(-90deg);
    bottom: 0;
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  &__inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    transition-timing-function: ease;
    transition-duration: 0.2s;

    &::before,
    &::after {
      display: block;
      content: '';
    }

    &,
    &::before,
    &::after {
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: var(--color-light);
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transition-property: transform;
    }

    &::before {
      top: -10px;
      transition: top 0.2s ease 0.2s, opacity 0.2s ease;
    }
    &::after {
      bottom: -10px;
      transition: bottom 0.2s ease 0.2s, transform 0.2s ease;
    }
  }
}

/*===============Hero===============*/

.hero {
  background-color: var(--color-dark-green);

  &__body {
    padding-top: 98px;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
    }
  }
  &__content {
    flex: 0 1 42%;

    padding-right: 17px;
    position: relative;
    z-index: 2;

    @media (max-width: 990.98px) {
      flex: 0 1 50%;
      padding-bottom: 20px;
    }

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }
  }
  &__title {
    font-family: 'Recoleta', sans-serif;
    @include textProperties(48px, 65px, var(--color-light));
    margin-bottom: 18px;
    max-width: 391px;

    @media (max-width: 479.98px) {
      font-size: rem(42px);
    }
    @media (max-width: 379.98px) {
      font-size: rem(38px);
    }
  }
  &__text {
    color: var(--color-light);
  }
  &__media {
    flex: 0 1 65%;
    margin-right: -58px;

    @media (max-width: 1279.98px) {
      margin-right: 0;
    }

    @media (max-width: 990.98px) {
      flex: 0 1 50%;
    }
    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }

    img {
      max-width: 100%;
    }
  }
}

/*===============Human===============*/

.human {
  &__body {
    display: flex;
    align-items: center;
    padding-top: 120px;

    @media (max-width: 990.98px) {
      padding-top: 80px;
    }
    @media (max-width: 767.98px) {
      padding-top: 50px;
      flex-wrap: wrap-reverse;
    }
  }
  &__media {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      text-align: center;
    }

    img {
      max-width: 100%;
      margin-left: auto;

      @media (max-width: 767.98px) {
        margin-left: 0;
      }
    }
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  &__title-box {
    max-width: 393px;

    @media (max-width: 767.98px) {
      max-width: 600px;
    }
  }
}

/*===============Sales===============*/

.sales {
  &__body {
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      padding-top: 30px;
    }
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  &__title-box {
    max-width: 393px;

    @media (max-width: 767.98px) {
      max-width: 600px;
    }
  }
  &__media {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      text-align: center;
    }

    img {
      max-width: 100%;
    }
  }
}

/*===============Partners===============*/

.partners {
  &__body {
    text-align: center;
    padding: 120px 0;
    @media (max-width: 990.98px) {
      padding: 90px 0;
    }
    @media (max-width: 767.98px) {
      padding: 50px 0;
    }
  }
  &__title {
    margin-bottom: 66px;

    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }
  &__companies {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    column-gap: 87px;
    row-gap: 30px;
  }
}

/*===============Production===============*/

.production {
  background-color: var(--color-dark-green);

  &__body {
    padding: 66px 0 120px;
    text-align: center;

    @media (max-width: 990.98px) {
      padding: 56px 0 80px;
    }

    @media (max-width: 767.98px) {
      padding: 40px 0 40px;
    }
  }
  &__title {
    margin-bottom: 66px;

    @media (max-width: 767.98px) {
      margin-bottom: 30px;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;

    @media (max-width: 990.98px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 479.98px) {
      grid-template-columns: 1fr;
      gap: 0;
    }
  }
}

.item-production {
  align-items: center;

  @media (max-width: 479.98px) {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    gap: 20px;

    &:nth-child(even) {
      flex-direction: row-reverse;
    }
  }

  &__image {
    margin-bottom: 28px;

    @media (max-width: 479.98px) {
      margin-bottom: 0;
    }
  }
  &__text {
    max-width: 200px;

    @media (max-width: 479.98px) {
      max-width: none;
    }
  }
}

/*===============Shapes===============*/

.shapes {
  background-color: var(--color-grey);

  &__body {
    padding: 120px 0 135px;

    @media (max-width: 990.98px) {
      padding-top: 90px 0 100px;
    }

    @media (max-width: 767.98px) {
      padding: 50px 0 60px;
    }
  }
  &__content {
    text-align: center;
    max-width: 770px;
    margin: 0 auto;
  }

  &__image {
    img {
      max-width: 100%;
    }

    @media (max-width: 479.98px) {
      display: none;
    }
  }
}

/*===============Scenes===============*/

.scenes {
  &__body {
    padding-top: 180px;
    display: flex;
    align-items: center;

    @media (max-width: 990.98px) {
      padding-top: 120px;
    }

    @media (max-width: 767.98px) {
      padding-top: 50px;
      flex-wrap: wrap;
    }
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 20px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
  &__title-box {
    max-width: 379px;

    @media (max-width: 767.98px) {
      max-width: 600px;
    }
  }
  &__media {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      text-align: center;
    }

    img {
      max-width: 100%;
    }
  }
}

/*===============Offer===============*/

.offer {
  &__body {
    padding: 120px 0;

    @media (max-width: 990.98px) {
      padding: 90px 0;
    }

    @media (max-width: 767.98px) {
      padding: 50px 0;
    }
  }
  &__content {
    text-align: center;
    margin-bottom: 18px;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(290px, 1fr));
    gap: 40px;

    @media (max-width: 990.98px) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }

    @media (max-width: 767.98px) {
      grid-template-columns: minmax(290px, 400px);
      justify-content: center;
      gap: 20px;
    }
  }
}

.item-offer {
  background-color: var(--color-light-grey);
  box-shadow: 5px 5px 20px #e9e4d5;
  border-radius: 15px;
  padding: 50px 40px 66px;

  &:nth-child(2) {
    margin-bottom: -37px;

    @media (max-width: 990.98px) {
      margin-bottom: 0;
    }
  }

  &__image {
    margin-bottom: 20px;
  }
  &__title {
    margin-bottom: 23px;
    font-family: 'Recoleta';
    @include textProperties(28px, 32px, var(--color-dark-green));
  }
  &__item {
    @include textProperties(16px, 22px, var(--color-dark-green));
    position: relative;
    padding-left: 19px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    &::before {
      content: '';
      width: 8px;
      height: 8px;
      position: absolute;
      left: 0;
      top: 7px;
      background-color: var(--color-dark-green);
      border-radius: 50%;
    }
  }
}

/*===============Process===============*/

.process {
  background-color: var(--color-grey);

  &__body {
    padding: 120px 0;
    text-align: center;

    @media (max-width: 990.98px) {
      padding: 90px 0;
    }

    @media (max-width: 767.98px) {
      padding: 40px 0;
    }
  }
  &__content {
    margin-bottom: 60px;

    @media (max-width: 767.98px) {
      margin-bottom: 40px;
    }
  }
}

.cols-process {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 46px;
  gap: 20px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__item {
    flex: 0 1 33.333%;
    position: relative;
    text-align: center;

    &:nth-child(1),
    &:nth-child(2) {
      padding-right: 100px;

      @media (max-width: 990.98px) {
        padding-right: 0;
        max-width: 220px;
        margin: 0 auto;
      }
    }

    &:nth-child(3) {
      max-width: 220px;
      margin: 0 auto;
    }

    &:nth-child(1)::after,
    &:nth-child(2)::after,
    &:nth-child(3)::before {
      content: '';
      position: absolute;
      width: 75px;
      height: 35px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;

      @media (max-width: 990.98px) {
        display: none;
      }
    }

    &:nth-child(1)::after {
      background: url('../images/process/process-arrow-1.svg') right no-repeat;
    }
    &:nth-child(2)::after {
      background: url('../images/process/process-arrow-2.svg') right no-repeat;
    }
    &:nth-child(3)::before {
      background: url('../images/process/process-vector.svg') center no-repeat;
      width: 285px;
      height: 180px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__text {
    margin-bottom: 13px;
    position: relative;
    z-index: 2;
  }
  &__value {
    font-family: 'Recoleta', sans-serif;
    @include textProperties(28px, 32px, var(--color-dark-green));
    position: relative;
    z-index: 2;
  }
}

/*===============Resource===============*/

.resource {
  &__body {
    display: flex;
    padding: 120px 0;

    @media (max-width: 990.98px) {
      padding: 90px 0;
    }

    @media (max-width: 767.98px) {
      padding: 40px 0;
      flex-wrap: wrap;
    }
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      padding-right: 0;
    }
  }
  &__title-box {
    max-width: 360px;

    @media (max-width: 767.98px) {
      margin-bottom: 20px;
    }
  }
  &__media {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      text-align: center;
    }

    img {
      max-width: 100%;
    }
  }
}

/*===============Get Started===============*/

.get-started {
  background: url('../images/get-started/get-started-left.svg') bottom left no-repeat,
    url('../images/get-started/get-started-right.svg') bottom right no-repeat,
    var(--color-dark-green);

  @media (max-width: 767.98px) {
    background: var(--color-dark-green);
  }

  &__body {
    text-align: center;
    padding: 114px 124px;

    @media (max-width: 990.98px) {
      padding: 90px 0;
    }

    @media (max-width: 767.98px) {
      padding: 40px 0;
    }
  }
}

/*===============Sign Up===============*/

.sign-up {
  background-color: var(--color-grey);

  &__body {
    display: flex;
    padding: 55px 0;
    align-items: center;

    @media (max-width: 767.98px) {
      padding: 40px 0;
      flex-wrap: wrap;
    }
  }
  &__content {
    flex: 0 1 50%;
    padding-right: 20px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      margin-bottom: 20px;
    }
  }
  &__action {
    flex: 0 1 50%;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }
  }
  &__form:not(:last-child) {
    margin-bottom: 11px;
  }
  &__text {
    @include textProperties(14px, 21px, var(--color-dark-green));

    a {
      color: var(--color-light-green);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form-sign-up {
  display: flex;
  position: relative;

  @media (max-width: 479.98px) {
    flex-direction: column;
  }

  &__email {
    flex: 1 1 100%;
    padding: 5px 120px 5px 20px;
    border-radius: 255px;
    min-height: 54px;

    @include textProperties(18px, 20px, var(--color-dark-green));

    @media (max-width: 479.98px) {
      padding: 5px 20px;
      margin-bottom: 8px;
      font-size: rem(16px);
    }
  }
  &__btn {
    position: absolute;
    right: 0;
    height: 100%;

    @media (max-width: 479.98px) {
      position: relative;
    }
  }
}

/*===============Footer===============*/

.footer {
  &__top,
  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top {
    padding: 40px 0;
    border-bottom: 1px solid var(--color-grey);
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;

    @media (max-width: 767.98px) {
      padding: 20px 0;
    }
  }
  &__bottom {
    padding: 24px 0;
    column-gap: 40px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  &__title {
    font-family: 'Recoleta', sans-serif;
    @include textProperties(24px, 36px, var(--color-dark-green));
  }
  &__copy {
    @include textProperties(14px, 21px, var(--color-dark-green));
  }
}

.socials-footer {
  display: flex;
  gap: 14px;

  &__link svg path {
    fill: var(--color-light-green);
    transition: fill 0.2s linear;
  }

  &__link:hover svg path {
    fill: var(--color-dark-green);
  }
}

.nav-footer {
  &__list {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
  }
  &__link {
    @include textProperties(14px, 19px, var(--color-light-green));

    &:hover {
      text-decoration: underline;
    }
  }
}
