/*===============Fonts===============*/

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta/Recoleta-SemiBold.eot');
  src: url('../fonts/Recoleta/Recoleta-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Recoleta/Recoleta-SemiBold.woff') format('woff'),
    url('../fonts/Recoleta/Recoleta-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'NotoSans';
  src: url('../fonts/NotoSans/NotoSans-SemiBold.ttf') format('truetype');
  font-style: normal;
  font-weight: 600;
}

/*===============Imports===============*/

@import './nullstyle.scss';
@import './config.scss';

/*===============Vars===============*/

:root {
  --color-light: #fbfaf7;
  --color-grey: #f2efe6;
  --color-light-grey: #fbfaf7;
  --color-dark-green: #163a24;
  --color-light-green: #198c36;
  --color-peach: #fab5a0;
}

/*===============Global styles===============*/

body {
  font-family: 'NotoSans', sans-serif;

  &.is-fixed {
    position: fixed;
    overflow-y: hidden;
  }
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 1210px;
  padding: 0 15px;
  margin: 0 auto;
}

.green-btn {
  @include textProperties(16px, 22px, var(--color-light));
  min-height: 52px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-green);
  border-radius: 160px;
  padding: 5px 25px;
  transition: background-color 0.2s linear;

  &:hover {
    background-color: #167e30;
  }
  &:active {
    background-color: #146f2b;
  }
}

.primary-title {
  font-family: 'Recoleta', sans-serif;
  @include textProperties(48px, 54px, var(--color-dark-green));

  &_white {
    color: var(--color-light);
  }

  @media (max-width: 479.98px) {
    font-size: rem(42px);
  }
  @media (max-width: 379.98px) {
    font-size: rem(38px);
  }
}

.primary-text {
  @include textProperties(18px, 27px, var(--color-dark-green));

  &_white {
    color: var(--color-light);
  }

  @media (max-width: 379.98px) {
    font-size: rem(16px);
  }
}

.title-box {
  &__title:not(:last-child) {
    margin-bottom: 27px;
  }
  &__text {
  }
}

/*===============Header===============*/

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }
  &__logo {
    position: relative;
    z-index: 2;
  }
}

.navbar {
  @media (max-width: 599.98px) {
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: transparent;
    visibility: hidden;
    transition: visibility 0.4s ease-in-out;
    z-index: 2;
  }

  &.is-active {
    visibility: visible;
  }

  &.is-active &__list {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 24px;
    row-gap: 40px;

    @media (max-width: 599.98px) {
      position: absolute;
      height: 100vh;
      top: 0;
      right: 0;
      width: 250px;
      flex-direction: column;
      padding: 120px 20px 30px 30px;
      background-color: #f1673c;
      backdrop-filter: blur(4px);
      align-items: flex-start;
      z-index: 3;
      transform: translateX(100%);
      transition: transform 0.4s ease-in-out;
      box-shadow: -1px 0 15px rgba(0, 0, 0, 0.2);
    }
  }
  &__link {
    @include textProperties(16px, 22px, var(--color-light));
    position: relative;
    padding-bottom: 4px;
    transition: color 0.2s ease-in-out;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 2px;
      background-color: var(--color-light-green);
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.2s ease-in-out;
    }

    &:hover {
      color: #e4deca;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

.burger {
  padding: 15px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition-timing-function: linear;
  transition-duration: 0.2s;
  transition-property: opacity, filter;
  display: none;
  z-index: 2;

  @media (max-width: 599.98px) {
    display: inline-block;
  }

  &.is-active &__inner {
    transition-delay: 0.2s;
    transition-timing-function: ease;
    transform: rotate(45deg);
  }

  &.is-active &__inner::before {
    top: 0;
    transition: top 0.2s ease, opacity 0.2s ease 0.2s;
    opacity: 0;
  }
  &.is-active &__inner::after {
    transition: bottom 0.2s ease, transform 0.2s ease 0.2s;
    transform: rotate(-90deg);
    bottom: 0;
  }

  &__box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px;
  }

  &__inner {
    top: 50%;
    display: block;
    margin-top: -2px;
    transition-timing-function: ease;
    transition-duration: 0.2s;

    &::before,
    &::after {
      display: block;
      content: '';
    }

    &,
    &::before,
    &::after {
      position: absolute;
      width: 40px;
      height: 4px;
      border-radius: 4px;
      background-color: var(--color-light);
      transition-timing-function: ease;
      transition-duration: 0.2s;
      transition-property: transform;
    }

    &::before {
      top: -10px;
      transition: top 0.2s ease 0.2s, opacity 0.2s ease;
    }
    &::after {
      bottom: -10px;
      transition: bottom 0.2s ease 0.2s, transform 0.2s ease;
    }
  }
}

/*===============Hero===============*/

.hero {
  background-color: var(--color-dark-green);

  &__body {
    padding-top: 208px;
    position: relative;
    display: flex;
    align-items: center;

    @media (max-width: 990.98px) {
      padding-top: 168px;
    }

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      padding: 150px 0 0;
    }

    @media (max-width: 479.98px) {
      padding-top: 130px;
    }
  }
  &__content {
    flex: 0 1 42%;

    padding-right: 17px;
    position: relative;
    z-index: 2;

    @media (max-width: 990.98px) {
      flex: 0 1 50%;
      padding-bottom: 20px;
    }

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }
  }
  &__title {
    font-family: 'Recoleta', sans-serif;
    @include textProperties(48px, 65px, var(--color-light));
    margin-bottom: 18px;
    max-width: 391px;

    @media (max-width: 479.98px) {
      font-size: rem(42px);
    }
    @media (max-width: 379.98px) {
      font-size: rem(38px);
    }
  }
  &__text {
    color: var(--color-light);
  }
  &__media {
    flex: 0 1 65%;
    margin-right: -58px;

    @media (max-width: 1279.98px) {
      margin-right: 0;
    }

    @media (max-width: 990.98px) {
      flex: 0 1 50%;
    }
    @media (max-width: 767.98px) {
      flex: 0 1 100%;
    }

    img {
      max-width: 100%;
    }
  }
}

/*===============Human===============*/

.human {
  &__body {
    display: flex;
    align-items: center;
    padding-top: 120px;

    @media (max-width: 990.98px) {
      padding-top: 80px;
    }
    @media (max-width: 767.98px) {
      padding-top: 50px;
      flex-wrap: wrap-reverse;
    }
  }
  &__media {
    flex: 0 1 50%;
    display: flex;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      justify-content: center;
    }

    img {
      max-width: 100%;
      margin-left: auto;

      @media (max-width: 767.98px) {
        margin-left: 0;
      }
    }
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      padding-left: 0;
      margin-bottom: 20px;
    }
  }
  &__title-box {
    max-width: 393px;

    @media (max-width: 767.98px) {
      max-width: 600px;
    }
  }
}

/*===============Sales===============*/

.sales {
  &__body {
    display: flex;
    align-items: center;

    @media (max-width: 767.98px) {
      flex-wrap: wrap;
      padding-top: 30px;
    }
  }
  &__content {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      margin-bottom: 20px;
      padding-right: 0;
    }
  }
  &__title-box {
    max-width: 393px;

    @media (max-width: 767.98px) {
      max-width: 600px;
    }
  }
  &__media {
    flex: 0 1 50%;
    display: flex;

    @media (max-width: 767.98px) {
      flex: 0 1 100%;
      justify-content: center;
    }

    img {
      max-width: 100%;
    }
  }
}
